<!DOCTYPE html>
<html lang="en">
<body>
<head>
  <title>Газетный классификатор</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<div class="jumbotron text-center" style='background:#FFC0CB'>
    <h1><font face="Century Gothic">Газетный классификатор</font></h1>
</div>


<div class="jumbotron text-center" style='background:#FFFAFA'>
  <div class="row">
	<h2><font face="Century Gothic">Введите текст статьи, чтобы определить ее класс</font></h2>
	<div class="col-sm-8">
    </div>
  </div>
  <form method="POST" action="/">
    <p><textarea type="text" name="text" placeholder="Ввести текст..." rows="5" cols="50"></textarea></p>
    <a href={{url_for('clouds')}}>Посмотреть топ-слова для разных препроцессингов</a><br>
    <input type="checkbox" value = "1" name="mycheckbox"> Убрать стоп-слова<br>
    <input type="checkbox" value = "2" name="mycheckbox"> Лемматизировать<br>
    <input type="submit">
  </form>
  <p><img src="{{url_for('static', filename='memes.jpg')}}"/></p>
</div></body></html>
