<!DOCTYPE html>
<html lang="en">
<body>
<head>
  <title>Газетный классификатор</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<div class="jumbotron text-center" style='background:#FFC0CB'>
    <h1><font face="Century Gothic">Газетный классификатор</font></h1>
</div>


<div class="jumbotron text-center" style='background:#FFFAFA'>
  <div class="row">
	<h2>Введите текст статьи, чтобы определить ее класс</h2>
      <div>
      </div>
	<div class="col-sm-8">
    </div>
  </div>
  <form method="POST" action="/">
     <p><input type="text" name="text" placeholder="Ввести текст..."></p>
    <input type="checkbox" value = "1" name="mycheckbox"> Убрать стоп-слова<br>
    <input type="checkbox" value = "2" name="mycheckbox"> Лемматизировать<br>
    <input type="submit">
  </form>
</div></body></html>